
.head{
color: 111B75;
text-align: center;
}

.container{
height: 300px;
width: 300px;
background-color: E9EFF0;
border-radius: 30px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
margin: 40px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  border:0px;

}
.flex{
    display: flex;
	flex-direction: row;
}

img{
height: 200px;
width: 200px;
border-radius: 30px;
position: relative;
top: 10px;
}

.font{
font-family: arial;
font-weight: bold;
font-size: 20px;
}

a
{
text-decoration: none;
color: black;
}

.container:hover{
transform: scale(1.05);
}
